@mixin rounded-border {
  border-radius: 5px;
}

@mixin rounded-border-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@mixin rounded-border-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
