{
  "env": {
    "es6": true,
    "jest": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "import/prefer-default-export": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
