% COMMAND(1) Cargill, Incorporated | Splinter Commands

<!--
Template for a man page source file in Markdown format. The file should have the
name of the command plus any subcommands (with dashes) with an extension of
`1.md`. For example `splinter-cert-generate.1.md` is the Markdown file that
generates the man page for `splinter cert generate`.
-->
NAME
====

**command-subcommand** — About blurb from command help

SYNOPSIS
========
| **command** \[**FLAGS**\] \[**OPTIONS**\]

DESCRIPTION
===========
Paragraph or two that describes what the command does, explains how it fits in
the Splinter environment, provides big-picture information on who uses it and
why (or when), and lists prerequisites or other considerations.

FLAGS
=====
<!--
List of flags (in alphabetical order) that describes what each flag does
and the default value/behavior. If appropriate, explain
how/when it's used, with tips, gotchas, and very short examples.
-->

`-h`, `--help`
: Prints help information

`-V`, `--version`
: Prints version information

`-v`
: Increases verbosity (the opposite of -q). Specify multiple times for more
  output.

OPTIONS
=======
<!--
List of options (in alphabetical order) that describes what the option does,
what arguments it takes, and the default value/behavior. If appropriate, explain
how/when it's used, with tips, gotchas, and very short examples.
-->

`-e`, `--example <example>`
: Description about example options


EXAMPLES
========
<!--
Show simple uses first, followed by more complex examples.For a very simple
subcommand where an example isn't appropriate, delete the EXAMPLES section.
-->

ENVIRONMENT
===========
The following environment variables affect the execution of the command.

<!--
List each environment variable with a description; mention any related flags or
options.
-->

**EXAMPLE_ENV_VAR**

: Description of environment variable.  (See `--example`)

SEE ALSO
========
<!--
Related man pages or documentation (if possible)
-->

For more information, see the Splinter documentation at
https://github.com/Cargill/splinter-docs/blob/master/docs/index.md
