{
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "decoratorsBeforeExport": true
    }]
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": { "node": "current" }
    }],
    "@babel/preset-react"
  ]
}
