{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "html"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  },
  "env": {
    "es6": true,
    "jest": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "import/no-default-export": 2,
    "import/prefer-default-export": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ]
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ]
}
