# Copyright 2018 Cargill Incorporated
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
nodes:
  012:
    endpoints:
      - tcp://127.0.0.1:8044
  345:
    endpoints:
      - tcp://127.0.0.1:8046
circuits:
  alpha:
    auth: trust
    members:
      - 012 # <- public key, matches key in node definition
      - 345
    roster:
      - service_id: service_a
        service_type: example_service
        allowed_nodes:
          - "012"
        arguments:
          example_key: example_value
      - service_id: service_b
        service_type: example_service
        allowed_nodes:
          - "345"
    persistence: any
    durability: none
    routes: require_direct
    circuit_management_type: default
